<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1060_cut12_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut09_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1026</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut09_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>274</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1308</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut07_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>742</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>742</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut07_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1422</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut06_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>451</integer>
				<key>height</key>
				<integer>742</integer>
				<key>originalWidth</key>
				<integer>451</integer>
				<key>originalHeight</key>
				<integer>742</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut06_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1479</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut03_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut03_tubaki03.png</key>
			<dict>
				<key>width</key>
				<integer>508</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>508</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut03_tubaki02.png</key>
			<dict>
				<key>width</key>
				<integer>487</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>487</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>1584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1060_cut03_tubaki01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1513</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10603.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10603.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>