<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1064_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut14_logo_ef.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut14_logo.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut01_bg01_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>800</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut14_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut13_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>425</integer>
				<key>height</key>
				<integer>488</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>488</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut12_tx.png</key>
			<dict>
				<key>width</key>
				<integer>614</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>614</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1828</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut12_txbg.png</key>
			<dict>
				<key>width</key>
				<integer>868</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>868</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut13_chara.png</key>
			<dict>
				<key>width</key>
				<integer>849</integer>
				<key>height</key>
				<integer>974</integer>
				<key>originalWidth</key>
				<integer>849</integer>
				<key>originalHeight</key>
				<integer>974</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>970</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut11_tx.png</key>
			<dict>
				<key>width</key>
				<integer>574</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>574</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut11_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut10_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>431</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>431</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>490</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut10_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>486</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>486</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut09_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>383</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut09_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>600</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut08_text_02.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>417</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut07_text_03.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>578</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>1931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut07_text_01.png</key>
			<dict>
				<key>width</key>
				<integer>391</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>391</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>1828</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>379</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>965</integer>
				<key>y</key>
				<integer>1946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut05_text_01.png</key>
			<dict>
				<key>width</key>
				<integer>694</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>694</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>1346</integer>
				<key>y</key>
				<integer>1946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut02_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>584</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>584</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>748</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1064_cut01_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>1805</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10640.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10640.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>