<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1010_cut_09_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>557</integer>
				<key>height</key>
				<integer>907</integer>
				<key>originalWidth</key>
				<integer>557</integer>
				<key>originalHeight</key>
				<integer>907</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_06_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>371</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_04_charar.png</key>
			<dict>
				<key>width</key>
				<integer>803</integer>
				<key>height</key>
				<integer>1111</integer>
				<key>originalWidth</key>
				<integer>803</integer>
				<key>originalHeight</key>
				<integer>1111</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_04_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>371</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_03_hand.png</key>
			<dict>
				<key>width</key>
				<integer>768</integer>
				<key>height</key>
				<integer>557</integer>
				<key>originalWidth</key>
				<integer>768</integer>
				<key>originalHeight</key>
				<integer>557</integer>
				<key>x</key>
				<integer>1073</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_03_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>371</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>1073</integer>
				<key>y</key>
				<integer>559</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_02_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>805</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>553</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>553</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>805</integer>
				<key>y</key>
				<integer>1318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1010_cut_01_bg.png</key>
			<dict>
				<key>width</key>
				<integer>768</integer>
				<key>height</key>
				<integer>576</integer>
				<key>originalWidth</key>
				<integer>768</integer>
				<key>originalHeight</key>
				<integer>576</integer>
				<key>x</key>
				<integer>805</integer>
				<key>y</key>
				<integer>1442</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10101.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10101.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>